<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="ru" />
	<title>TNX QSO</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
<!--	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

	<link href="/style.css" rel="stylesheet" media="screen">



</head>
<body>
    <table class="tabs index_tabs">
        <tr>
            <td colspan="2" id="logo">
                <img src="/images/tnxqso_logo.png" border="0" title="QSOonline.com">
            </td>        
        </tr>
        <tr>
            <td>
                <div id="tab_about" class="tab">About</div>
                <div id="tab_stations" class="tab active_tab">Active stations</div>
                <div id="tab_contacts" class="tab">Contacts</div>
            </td>
            <td id="login">
                <div id="tab_login" class="tab">Login/Register</div>
            </td>
        </tr>
    </table>


    <div class="list index_list">            	 
        <div class="index_station">
            <a href="/page.html"><span class="callsign">R7AB/M</span><br/>Радиоэкспедиция по Ростовской области и республике Калмыкия (12 - 20 июля 2017)</a>
        </div>
        <div class="index_station">
            <a href="/page.html"><span class="callsign">R1CF/M</span><br/>Юг Краснодарского края (12 - 20 июля 2018)</a>
        </div>
<br/><br/><br/><br/><br/><br/>
<hr/>
        <div id="login_register">
            Login <span>(admin's callsign)</span><br/>
            <input type="text" id="login_input" /><br/>
            Password <span>(min. 8 symbols)</span><br/>
            <input type="text" id="password_input" /><br/>
            <input type="checkbox" id="login_remember" /> Remember me<br/>
            <input type="button" id="button_login" class="btn" value="Login"/>
            <br/><br/>
            <input type="button" id="button_register" class="btn btn2" value="Register new user"/>
            <input type="button" id="button_recovery" class="btn btn2" value="Password recovery"/>

        </div>


<hr/>
        <div id="station_menu">
            <input type="button" id="button_clear_all" class="btn" value="Clear all info"/>
            <input type="button" id="button_change_email" class="btn" value="Change email"/>
            <input type="button" id="button_change_email" class="btn" value="Change password"/>
            <input type="button" id="button_change_email" class="btn" value="Logout"/>
        </div>

        <div id="station_setup">
            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_publish" /> Publish on TNXQSO.com main page <br/>
                Station's callsign: <input type="text" id="station_callsign" value="R7AB/M"/> <span id="stations_link">Station's link: <a href="#" target="_blank">http://TNXQSO.com/R7AB-M</a></span><br/>
                Station's title: <input type="text" id="station_name" /><br/>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_info" checked /> Station's info
                <div class="block_settings">
                    <textarea></textarea>
                </div>
            </div>
            
            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_news" checked /> News
                <div class="block_settings">
                    <input type="button" id="button_clear_news" class="btn" value="Clear news"/><br/>
                    <textarea></textarea><br/>
                    <input type="button" id="button_post_news" class="btn" value="Post news"/><br/>
                </div>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_log" checked /> Online log
                <div class="block_settings">
                    View:<br/>
                    <input type="checkbox" id="checkbox_log_rda" checked /> RDA<br/>
                    <input type="checkbox" id="checkbox_log_rafa" checked /> RAFA<br/>
                    <input type="checkbox" id="checkbox_log_wff" checked /> WFF<br/>
                    <input type="checkbox" id="checkbox_log_loc" checked /> Locator<br/>
                    <input type="checkbox" id="checkbox_log_loc" checked /> User field #1 <input type="text" id="user_field1" value="User field #1"/><br/>
                    <input type="checkbox" id="checkbox_log_loc" checked /> User field #2 <input type="text" id="user_field2" value="User field #2"/><br/>
                    <br/>
                    <input type="button" id="button_clear_log" class="btn" value="Clear online log"/><br/>
                </div>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_map" checked /> Map
                <div class="block_settings">
                    <input type="button" id="button_clear_track" class="btn" value="Upload KMZ-file with track"/> &nbsp; 
                    <input type="button" id="button_clear_track" class="btn" value="Clear track"/><br/>
                </div>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_cluster" checked /> ADXcluster
                <div class="block_settings">
                Callsigns to track ( separeted by spaces or commas): <input type="text" id="setup_cluster" />
                </div>

            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_chat" checked /> Chat<br/>
                <div class="block_settings">
                    <input type="button" id="button_clear_chat" class="btn" value="Clear chat"/><br/>
                    Admin "RED" callsigns: <br/>
                    <input type="text" id="admin_calls" value=""/>
                </div>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_instagram" checked /> Instagram<br/>
                <div class="block_settings">
                    Instagram ID: <input type="text" id="setup_instagram" />
                </div>
            </div>

            <div class="station_setup_block">
                <img class="icon_info" src="/images/icon_info.png" title="Info">
                <input type="checkbox" id="checkbox_support_us" checked /> Support us<br/>
                <div class="block_settings">
                    <textarea></textarea><br/><br/>
                    Code from payment system:<br/> 
                    <textarea></textarea>
                </div>
            </div>
            <br/><br/> 
            <input type="button" id="button_save_all" class="btn" value="Save all info"/>
            
            
        </div>


    </div>

</body>
</html>
