body, html{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    background: #fff url("/static/images/background.jpg") top left;
    text-align: center;
    position: relative;
}
input, button, textarea, select{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
}
.btn{
    padding: 5px 15px;
    background-color: #6B8AAE;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn2{
    background-color: #aa001e;
    border: 1px solid #630717;
}
.btn3{
    background-color: #ddd;
    color: #333;
    border: 1px solid #ccc;
}
.btn4{
    margin: 0;
    padding: 5px 15px;
    background-color: #6180e3;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Параметры тени */
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#lng_block{
    position: absolute;
    top: 5px;
    right: 10px;
}
#lng_block img{
    cursor: pointer;
}





 .ng-hide{
    display: none;
 }
.clearboth{ clear: both; }
input:focus{   outline: none; }


img#logo_index{
    margin-top: 10px;
}
img#logo{
    position: absolute;
    top: 0px;
    left: 15px;
}











/* =============================   L I S T   ==================================== */

.list{
    width: 1200px;
    padding: 10px 0 100px 0;
    margin: 0px auto;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 800px;
}
.list a {
    color: #009;
}



#about{
    padding: 20px 50px 100px 50px;
}
#about h4{
    width: 100%;
    background-color: #ccc;
}
#about_imgs img{
    margin: 0 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}



#qthnow{
    padding: 20px 50px 100px 50px;
    margin: 0 auto;
}
#tnxlog{
    padding: 20px 50px 100px 50px;
    width: 1102px;
    margin: 0 auto;
    line-height: 1.8em;
}
#tnxlog table{
    text-align: left;
    margin: 0 auto;
}
#qthnow h3, #tnxlog h3{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    text-align: center;
}
#qthnow img{
    margin: 0 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
#qthnow p, #tnxlog p{
    text-align: left;
    margin: 0 100px 20px 100px;
}
#qthnow .intext{
    box-shadow: none;
}


.list img{
max-width: 900px;
}













/* ===========================   S T A T I O N S  ==================================*/

.donate_block{
    float: left;
    width: 200px;
    height: 600px;
    margin: 10px;
}

.list:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.donate_block.login,
.donate_block.talks,
.donate_block.chat,
.donate_block.gallery,
.donate_block.donate,
.donate_block.qthnow,
.donate_block.tnxlog,
.donate_block.tnxpost,
.donate_block.about,
.donate_block.contact,
.donate_block.profile,
.donate_block.info
{
    display: none;
}

.donate_block.log{    margin-top: 80px;}
.donate_block.adxcluster{    margin-top: 60px;}
.donate_block.stations{    margin-top: 20px;}
.donate_block.post{    margin-top: 20px;}







#view{
    text-align: right;
}
#view img{
    margin-right: 10px;
    cursor: pointer;
}



.stations_list{

    margin: 0px 50px 50px 250px;
    padding: 0;
    text-align: left;
    text-align: center;
    color: #777;
    line-height: 1.6em;
}
.stations_block{
    width: 100%;
    margin: 20px auto;
    padding: 3px;
    background-color: #eee;
    color: #777;
    font-size: 12px;
    line-height: 12px;
}

.one_station{
    display: block;
    margin: 0 10px 30px 10px;
    padding: 0px;
    text-align: left;
    color: #333;
}
.one_station.compact{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}
.one_station span{
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    vertical-align: top;
}
.one_station .callsign, .one_station .callsign span{
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    color: #000;
    margin-bottom: 3px;
}
.one_station.compact .callsign{
    width: 100%;
    font-size: 18px;
}
.one_station.compact .callsign a{
    text-decoration: none;
    color: #000;
}
.one_station .status{
    width: 120px;
    padding: 0;
    line-height: 12px;
    text-align: center;
    background-color: #e8fae8;
    border-radius: 10px;
    border: 1px solid #6ec36e;
    min-height: 15px;
}
.one_station .status span{
    display: block;
}
.one_station.offline .status{
    padding-top: 3px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #777;
    min-height: 15px;
    display: none;
}
.one_station.offline .callsign a{
    text-decoration: underline;
    color: #777;
}

.one_station .offline_text{
    font-size: 10px;
    color: #ff4949;
    letter-spacing: 2px;
    display: inline-block;
}

.one_station .status .freq{
    padding: 3px 5px;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #4ab54a;
    color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.one_station .status .qth_info {
    font-size: 11px;
    padding-top: 3px;
    font-weight: bold;
}
.one_station.compact .status .qth_info {
    font-size: 10px;
    font-weight: normal;
    color: #333;
}

.one_station .status .links{
    padding: 3px;
}
.one_station .status .links a{
    margin: 0 5px;
    text-decoration: underline;
    color: #42a242;
}
.one_station.offline .status .links a,
.one_station .station_full_info a,
.one_station .title{
    color: #777;
}
.one_station .status .links a:hover,
.one_station .station_full_info .links a:hover{
    color: #009;
}


.one_station .station_full_info{
    width: 550px;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 20px;
}
.one_station .station_full_info a{
    padding-right: 20px;
    font-weight: bold;
    color: #337;
}
.one_station .period{
    color: #555;
    font-size: 12px;
}

.one_station .main_block{
    display: none;
}





.one_station .status .offline_text,
.one_station .status .links,
.one_station.offline .status .freq,
.one_station.offline .status .qth_info,
.one_station.compact .station_full_info,
.one_station .status .freq.hide,
#future_stations .one_station .offline_text,
#archive_stations .one_station .offline_text {
    display: none;
}
.one_station.offline .offline_text,
.one_station.compact .status .links {
    display: block;
}
.one_station.compact.offline .offline_text{
    display: none;
}

#archive_stations .callsign,
#archive_stations .station_full_info .title,
#archive_stations .station_full_info .period,
#archive_stations .one_station.compact .callsign a,
#archive_stations .one_station .callsign span,
#archive_stations .station_full_info a{
    color: #777;
}
#future_stations .one_station .status,
#archive_stations .one_station .status{
    border: 1px solid #ddd;
    padding: 0;
}

#future_stations .station_full_info a{
    color: #555;
}

#future_stations .station_full_info a:hover,
#archive_stations .station_full_info a:hover{
    color: #009;
}




















/* =============================   H E A D   T A B S   T A B L E   ==================================== */

table.tabs{
    width: 1202px;
    margin: 15px auto 0px auto;
    background: url("/static/images/tabs_line.png") bottom left repeat-x;
    border-collapse: collapse;
}
table.index_tabs{
    margin: 0px auto 0px auto;
}


table.tabs td{
    vertical-align: bottom;
    text-align: left;
    padding: 0;
}

table.tabs td#station_title{
    color: #777;
    padding: 5px 0 0 0;
    text-align: center;
    height: 70px;
    vertical-align: top;
}
table.tabs td#station_title h1{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 50px;
    font-weight: bold;
    text-shadow: rgba(255,255,255,0.5) 1px 2px 3px;
}


table.tabs td#status{
    width: 200px;
    text-align: center;
}
#status_block_top{
    color: #fff;
    padding:  5px 5px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    text-align: center;
    line-height: 16px;
}
.status_offline{
    background-color: #ff4949;
}
.status_online{
    background-color: #4ab54a;
}


table#status_block_info{
    width: 100%;
    padding: 0px;
    margin: 0;
    border-collapse: collapse;
    background: #e3f9e3  url("/static/images/tabs_background_status.png") bottom left no-repeat;
    border: 1px solid #ccc;
    border-top: none;
}
table#status_block_info td{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
table#status_block_info td#current_loc{
    padding: 0 0 5px 0;
}

table#status_block_info span.datetime{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
    color: #777;
}






table.tabs td#logo{
    text-align: center;
    padding: 10px 0 20px 0;
}

table.tabs td#website_links{
    text-align: right;
}











/* =============================   T A B  ==================================== */
.tab{
    display: inline-block;
    padding: 7px 20px 7px 20px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    background: #f5f5f5  url("/static/images/tabs_background.jpg") bottom left no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.updated_tab{
    background: #f5f5f5  url("/static/images/tabs_background.jpg") bottom right no-repeat;
    padding-right: 35px;
}
.router-link-active{
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.tab a{
    color: #333;
    text-decoration: none;
}


#tab_stations{
    margin-left: 30px;
}
.tabs.index_tabs #tab_stations{
    margin-left: 0px;
}


.tab_envelope{
    display: inline-block;
    padding: 4px 20px 4px 20px;
}
.tab_envelope img{
    vertical-align: -35%;
}








/*             P O S T          */


#post{
    margin:10px 0 0 220px;
    padding-right: 160px;
    position: relative;
}
#post_switch{
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
    color :#333;
    text-align: left;
}
#post_switch img{
    margin-right: 10px;
    vertical-align: -20%;
    cursor: pointer;
}

#post #delete_all_messages{
    width: 170px;
    margin: 20px auto 0 auto;
    font-size: 12px;
    padding: 3px;
    line-height: 12px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}
#post #delete_all_messages:hover{
    background-color: #f5d3d5;
    border-color: #f87075;
}




#post .message{
    display: inline-block;
    width: 600px;
    margin: 40px auto 0px auto;
    text-align: left;
    position: relative;
}
#post .message img{
    height: 20px;
    position: absolute;
    top: -2px;
    cursor: pointer;
}
#post .message img.delete{    right: 0px; }
#post .message img.translate{    right: 28px; }
#post .message img.replay{    right: 60px; }

#post .message .from{
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #339;
    line-height: 1em;
}
#post .message .name{
    font-size: 14px;
    margin-left: 10px;
    font-weight: normal;
}
#post .message .date_time{
    margin-left: 10px;
    font-size: 12px;
    color: #777;
    font-weight: normal;
}

#post .message .message_text{
    padding: 20px;
    margin: 0px;
    background-color:#fffeef;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #000;
}

#post .message .message_text pre {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#post #list_users{
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 30px;
}

#post #list_users .icon_block img{    margin-right: 10px; }






#private_message_layout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/background_black_50.png) top left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#private_message_back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#private_message_form{
    width: 600px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5); /* Параметры тени */
    position: relative;
}
#private_message_form textarea{
    width: 550px;
    height: 80px;
    padding: 20px;
    background-color: #fffeef;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #000;
    resize: none;
    line-height: 1.5em;
    font-size: 16px;
}
#private_message_form textarea:focus{
    outline: none !important;
}
#private_message_form #replay_text{
    padding: 0px 30px;
    font-size: 14px;
    color: #999;
    font-style: italic;
    text-align: left;
    line-height: 16px;
}
#private_message_form #from_to{
    font-size: 16px;
    font-weight: bold;
    color: #009;
}
#private_message_form #from_to img{
    display: inline-block;
    vertical-align: text-top;
}
#private_message_form input{
    border-radius: 5px;
    padding: 5px 30px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
#private_message_form #btn_cancel{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
}















/*              I N F O            */
#info{
    width: 900px;
    margin: 10px auto;
    text-align: left;
}
.info_block{
    margin: 0 0 20px 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ddd;
}
.info_date{
    font-weight: bold;
    font-size: 12px;
    background-color: #ddd;
    color: #000;
    padding: 3px;
    line-height: 1em;
    width: 130px;
}
.info_block p{
    padding: 10px 20px;
    margin: 0;
    text-indent: 1em;
}












/*              O N L I N E   L O G             */



#log #no_net{
    width: 900px;
    margin-top: 10px;
}



#call_search{
    margin: 20px 0;
    text-align: center;
}
#call_search input{
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}


#log_block{
    margin-left: 200px;
}


#search_result{
    width: 80%;
    margin: 0 auto 50px auto;
    text-align: right;
}
#search_result #icon_close{
    cursor: pointer;
}

table#rda_result {
    border-collapse: collapse;
    margin: 0 auto 20px auto;
}
table#rda_result th, table#rda_result td{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 1.1em;
    color: #333;
}
table#rda_result th{
    background-color: #aaa;
    color: #fff;
    padding: 7px;
}
table#rda_result td{
    width: 50px;
    color: green;
    font-weight: bold;
}
table#rda_result td.rda{
    font-size: 16px;
    color: #333;
}












table#log {
    border-collapse: collapse;
    margin: 10px auto;
}
table#log td{
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 1em;
    color: #333;
}
table#log td.time span{
    font-size: 12px;
    line-height: 12px;
}
table#log td.mycall{
    font-weight: bold;
    width: 80px;
    font-size: 16px;
    color: #555;
}
table#log td.urcall{
    background-color: #fbfff3;
    font-weight: bold;
    width: 100px;
    font-size: 16px;
}
table#log td.urcall a{
    text-decoration: none;
    color: #339;
    }
table#log td.urcall a:hover{
    text-decoration: underline;
    color: #00c;
    }
table#log td.head{
    background-color: #aaa;
    color: #fff;
}
table#log tr.new_qso{
    background-color: #e3f9e3;
}

#refresh_time{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    width: 100px;
    float: right;
    color: #999;
    display: none;
}












#sponsor{
    width: 85%;
    margin: 10px auto 0px auto;
    background-color: #fdfbda;
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.5em;
    color: #000;
    text-align: left;
}











div#cluster{
    font-size: 12px;
}
#view_send_form{
    width: 900px;
    margin: 0 0 0 202px;
    text-align: right;
}
#view_send_form input{
    margin: 12px 0 0 0;
    padding: 5px 15px;
    background-color: #6180e3;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Параметры тени */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


table#send_spot_layout {
    border-collapse: collapse;
    width: 920px;
    margin: 20px auto 50px auto;
}
table#send_spot_layout td{
    padding: 0px 10px;
    text-align: center;
    line-height: 1em;
}
table#send_spot_layout input{
    margin: 0;
    padding: 1px 10px;
    text-align: center;
}
table#send_spot_layout td input#spot_call{
    width: 120px;
    font-weight: bold;
    border: 1px solid #aaa;
    padding: 2px 10px;
    background-color: #f9f9f9;
}
table#send_spot_layout td input#spot_band{
    width: 90px;
}
table#send_spot_layout td input#spot_text{
    width: 300px;
    color: #777;
}
table#send_spot_layout td input#spot_spotter{
    width: 100px;
    color: #777;
}

table#send_spot_layout td input.add_text_btn{
    margin-top: 3px;
    margin-right: 10px;
    padding: 1px 15px;
    font-size: 12px;
    background-color: #9fb4cc;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Параметры тени */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


table#send_spot_layout td input#button_send_spot{
    padding: 5px 15px;
}


#spam, #spot_sent, #cluster_error{
    width: 600px;
}
.warning{
    font-size: 16px;
    margin: 0px auto 50px auto;
    padding: 5px;
    text-align: center;
    background-color: #ff4949;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Параметры тени */
}
#warning_border{
    margin: 0px;
    padding: 10px;
    border: 1px solid #fafbb8;
}
#warning_border span{
    font-weight: bold;
    color: #fafbb8;
}



.ok_window{
    font-size: 16px;
    margin: 0px auto 50px auto;
    padding: 5px;
    text-align: center;
    background-color: #4ab54a;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Параметры тени */
}
#ok_border{
    margin: 0px;
    padding: 10px;
    border: 1px solid #fafbb8;
}
#ok_border span{
    font-weight: bold;
    color: #fafbb8;
}







table#cluster {
    border-collapse: collapse;
    width: 800px;
    margin: 20px auto 5px auto;
}
table#cluster td{
    padding: 7px 10px;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
    line-height: 1em;
}
table#cluster td.time{
    width: 50px;
}
table#cluster td.band{
    width: 60px;
}
table#cluster td.mode{
    width: 30px;
    font-size: 12px;
    text-align: center;
}
table#cluster td.call, table#cluster td.call a{
    width: 120px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}
table#cluster tr.highlight td.call, table#cluster tr.highlight td.call a{
    color: #900;
}
table#cluster tr.highlight{
    background-color: #ffffee;
}
table#cluster td.text{
    color: #777;
    font-size: 12px;
}
table#cluster td.spotter{
    width: 100px;
    color: #777;
    font-size: 12px;
    padding: 5px;
}

























#gps_map{
    font-size: 14px;
}
#map{
    width: 950px;
    height: 700px;
    float: left;
    padding: 0px;
    margin: 10px 0;
}
.vue2leaflet-map{
    border: 1px solid #ccc;
}
#map #refresh_time{
    margin-bottom: 10px;
}

#gps_map iframe{
    margin: 3px 0 50px 0;
}

.leaflet-control-layers-base, .leaflet-control-layers-overlays{
    text-align: left;
}


.leaflet-popup-content a{
    text-decoration: underline;
    color: #009;
}







/* ==================================================== C H A T =========================================*/


#chat{
    position: relative;
}
#div_no_login, #div_no_email{
    color: #777;
    margin: 20px 0;
    font-size: 14px;
    font-style: italic;
}
#div_no_login a{
    color: #777;
}
#div_no_login a:hover{
    color: #009;
}

#personal_chat_message{
    position: absolute;
    top: 70px;
    left: 400px;
    width: 300px;
    padding: 5px 20px 20px 20px;
    background-color: #fffff5;
    border: 5px solid #4ab54a;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5); /* Параметры тени */
    text-align: left;
}
#personal_chat_message #close_personal_message{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#personal_chat_message #from_to{
    position: absolute;
    top: 20px;
    left: 100px;
    padding: 0;
    text-align: center;
    line-height: 14px;
}
#personal_chat_message #from_to #date_time{
    font-size: 12px;
    color: #777;
}
#personal_chat_message #from{
    font-weight: bold;
    color: #c70000;
    padding-right: 10px;
}
#personal_chat_message #to{
    font-weight: bold;
    color: #009;
}
#personal_chat_message #text{
    padding-top: 10px;
    text-align: center;
}


table#message_form{
    padding: 0px;
    margin: 20px 0px 20px 10px;
    border: none;
    border-collapse: collapse;
    text-align: center;
}
table#message_form tr, table#message_form td{
    padding: 0;
}
table#message_form input#your_call, table#message_form input#your_name{
    width: 140px;
    padding: 0px 5px 2px 5px;
    margin: 0 10px 0px 10px;
    font-size: 16px;
    border: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
table#message_form input#your_call{
    color: #009;
    font-weight: bold;
}
table#message_form input#your_name{
    color: #666;
}
table#message_form input#message_text{
    width: 600px;
    padding: 0px 5px 2px 5px;
    margin: 0;
    text-align: left;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
}
table#message_form button{
    width: 80px;
    padding: 3px;
    margin: 0;
}
table#message_form #smile_btn{
    margin: 0px 30px 0 10px;
    cursor: pointer;
    vertical-align: text-bottom;
}

#smiles{
    position: absolute;
    top: 50px;
    left: 150px;
    border: 1px solid #777;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Параметры тени */
    background-color: #fff;
}
#smiles_block{
    padding: 0 20px;
}
.smile{
    width: 80px;
    display: inline-block;
    font-size: 10px;
    color: #777;
    padding: 0 0 30px 0;
    text-align: center;
    cursor: pointer;
}
#close_smiles{
    text-align: right;
    cursor: pointer;
    padding: 3px 3px 0 0;
}
#smiles_link{
    text-align: right;
    font-size: 10px;
}
#smiles_link a{
    color: #777;
    text-decoration: none;
}

.admin_button{
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
}






table#chat_layout td{
    vertical-align: top;
}

table#chat_layout .message_to{
    color: #aaa;
    padding-right: 15px;

}
table#chat_layout .personal{
    color: #999;
    background-color: #FBFD9C;
    font-weight: bold;
}







#list_users{
    width: 140px;
    margin: 0px 0 0 0;
    border: 1px solid #eee;
    text-align: left;
}
.list_users_title{
    background-color: #eee;
    text-align: center;
    color: #777;
    font-size: 12px;
}
.list_users{
    padding: 10px 0 10px 0px;
    font-weight: bold;
    line-height: 1.5em;
    color: #777;
    font-size: 16px;
}
.list_users_here{    color: #777;}
.list_users_other{   color: #999;}
.list_users .admin{    color: #b24c4c;}


.list_users .user{
    display: block;
    padding-left: 22px;
}

.list_users .user .icon_block{
    position: relative;
    display: none;
}
.list_users .user:hover .icon_block,
#list_users .list_users .user img.icon_ban{
    display: block;
}

#list_users .icon_block img{
    margin: 2px 5px 5px 0;
    cursor: pointer;
}

#list_users .list_users .user img.icon_ban{
    top: 0;
    left: -20px;
}

.list_users .user .typing{
    background: #fff url("/static/images/icon_typing.gif") 1px 5px no-repeat;
}





table#admins_window{
    width: 990px;
    padding: 0px;
    margin: 0px 20px 20px 20px;
    font-size: 16px;
    border-collapse: collapse;
}
table#admins_window td{
    padding: 5px 5px;
    text-align: left;
    vertical-align: top;
    background-color: #fffff5;
}
table#admins_window tr{
    border: 1px solid  #fbb;
}
table#admins_window td.call{
    font-weight: bold;
    width: 150px;
    line-height: 14px;
    color: #007;
}
table#admins_window td.call span.date_time{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
table#admins_window td.call span.call{
    color: #A00;
}
table#admins_window td.call span.name{
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
table#admins_window td.message{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.7em;
    color: #000;
}
table#admins_window .icon_block{
    display: none;
    cursor: pointer;
}







table#chat_window{
    width: 990px;
    padding: 0px;
    margin: 0px 20px 20px 20px;
    font-size: 16px;
    border-collapse: collapse;
}
table#chat_window td{
    padding: 7px 5px;
    text-align: left;
    vertical-align: top;
}
table#chat_window tr{
    border: none;
    border: 1px solid #eee;
}
table#chat_window td.call{
    font-weight: bold;
    width: 150px;
    line-height: 16px;
    padding-bottom: 7px;
    position: relative;
}
table#chat_window td.call span.date_time{
    font-size: 10px;
    margin-bottom: 4px;
    font-weight: normal;
    color: #aaa;
    display: block;
}
table#chat_window td.call:hover span.date_time{
    display: none;
}
table#chat_window td.call span.icon_block{
    display: none;
}
.icon_ban{
    position: absolute;
    top: 7px;
    right: 35px;
    cursor: pointer;
    display: none;
}
table#chat_window td.call:hover span.icon_block, table#chat_window td.call:hover .icon_ban{
    display: inline;
    cursor: pointer;
}
table#chat_window td.call span.icon_block img{
    margin-right: 10px;
    cursor: pointer;
}



table#chat_window td.call span.call{
    color: #009;
}
table#chat_window td.call span.name{
    font-size: 12px;
    color: #666;
    font-weight: normal;
}
table#chat_window tr.admin td.call span.call{
    color: #A00;
}
table#chat_window td.message{
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 20px;
    line-height: 1.7em;
}


.delete_btn{
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    display: none;
    margin-right: 10px;
}
.translate_btn{
    cursor: pointer;
    float: right;
}

table#chat_window td.message:hover img.delete_btn, table#admins_window td.message:hover img.delete_btn{
    display: inline;
}

.translate_lnk{
    display: none;
}
table#chat_window td.message:hover .translate_lnk, table#admins_window td.message:hover .translate_lnk{
    display: inline;
}




















/* ===========================   L O G I N   /    R E G I S T E R  ==================================*/
#login_register{
    padding: 100px 20px 100px 20px;
    line-height: 1.2em;
}
#login_register span{
    font-size: 12px;
    color: #999;
}
#login_register input{
    margin: 0 0 20px 0;
}
#button_register, #button_recovery{
    width: 200px;
}
#button_register{
    float: left;
}
#button_recovery{
    float: right;
}
.register{
    background-color: #ea9901;
    border-color: #c97b04;
}

#register_text{
    padding: 0 0 30px 0;
    color: #aa001e;
}



#confirm_email{
    margin-top: 50px;
}
#confirm_email span{
    font-size: 12px;
    color: #999;
}



/* ===========================   S E T U P  ==================================*/

#user_menu{
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-bottom: 1px solid #ccc;
}
#user_menu input{
    background-color: #f5f5f5;
    color: #009;
    margin-right: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Параметры тени */
}
#user_menu input#view_setup{
    float: left;
}
#user_menu input#logout{
    float: right;
    margin-right: 0;
}

#user_menu #logged{
    display: block;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px 10px 0;
}



#change_password{
    margin-top: 70px;
}
#change_password span{
    font-size: 12px;
    color: #999;
}
#change_password input#email, #change_password input#password_input{
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
}









#station_menu{
    text-align: right;
    padding: 10px 0px;
}
#station_menu input{
    background-color: #f5f5f5;
    color: #009;
    margin-right: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Параметры тени */
}
#station_menu input#button_clear_all{
    float: left;
    color: #c00;
    font-weight: bold;
}
#station_menu input#button_info{
    color: #000;
    margin-right: 0;
}



.icon_info{
    cursor: pointer;
    float: right;
}



#station_setup{
    text-align: left;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 2em;
    border-top: 1px solid #ccc;
}
#station_setup textarea{
    width: 1080px;
    height: 300px;
}
.station_setup_block{
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
.block_settings{
    padding-left: 20px;
}
input#station_callsign { width: 200px; font-weight: bold; text-align: center;}
input#station_name { width: 900px;  text-align: center; font-weight: bold; }
input#setup_cluster { width: 870px; font-weight: bold; color: #555;}
input#highlight_calls { width: 870px; font-weight: bold; color: #900; background-color: #ffffee; border: 1px solid #aaa;}
input#admin_calls { width: 870px; font-weight: bold; color: #900;}
input#setup_instagram { font-weight: bold; text-align: center;}

#stations_link{
    font-size: 14px;
    padding-left: 30px;
}
#stations_link a{
    color: #009;
    text-decoration: underline;
    font-weight: bold;
}

.quillWrapper{
    background-color: #fff;
}
#editor_info, #editor_news, #editor_donate{
    height: 300px;
}


input#button_save_all{
    position: fixed;
    top: 75px;
    right: 15px;
    background-color: #008000;
    color: #fff;
}

table#log_setup{
    width: 900px;
    margin: 20px auto;
}
table#log_setup td{
    padding: 0 15px 0 0;
}


#status_from{
    text-align: center;
    margin: 10px 0 30px 0;
}

table#status_setup{
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}
table#status_setup td{
    text-align: left;
    padding: 0;
    vertical-align: top;
    padding-right: 20px;
}
table#status_setup td#preset{
    padding-right: 50px;
}
table#status_setup input{
    padding: 1px 5px;
    width: 300px;
    text-align: center;
}



table#custom_mark{
    margin: 30px auto 30px auto;
    padding: 0;
    border-collapse: collapse;
}
table#custom_mark td{
    text-align: center;
    line-height: 1em;
    padding: 0 5px;
}
table#custom_mark td img{
    padding-top: 5px;
    cursor: pointer;
}

table#manual_gps{
    width: 70%;
    margin: 30px auto 50px auto;
    padding: 0;
    border-collapse: collapse;
}
table#manual_gps td{
    text-align: center;
}
table#manual_gps td.note{
    font-size: 12px;
    color: #777;
    line-height: 12px;
    vertical-align: bottom;
}
table#manual_gps input{
    padding: 1px 5px;
    text-align: center;
}



input#button_clear_log, input#button_clear_track{
    margin-left: 50px;
}
input#button_clear_log, input#button_clear_chat, input#button_clear_photos, input#button_clear_track{
    background-color: #c15454;
}











table#info_popup{
    position: fixed;
    z-index: 100px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/static/images/background_black_50.png') top left;
    top: 0;
    left: 0;
}
table#info_popup td{
    text-align: center;
    vertical-align: middle;
}
table#info_popup_close{
    position: fixed;
    z-index: 101px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#info_popup_text{
    width: 70%;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
}






/* ===========================   C O N T A C T  ==================================*/
#contact input#email{
    width: 80%;}

#contact textarea{
    width: 80%;
    height: 100px;
}
#contact input#button_submit{
    width: 50%;
    margin: 0 0 50px 0;
}


.ql-align-center{
    text-align: center;
}










/* ================================== S T A T S ==========================================*/




#stats_block{
    text-align: center;
}

table#stats{

    margin: 0 0 200px ;
}
table#stats td{
    vertical-align: top;
}
table#stats_total{
    width: 250px;
    margin: 70px 100px 0 70px;
    border-collapse: collapse;
}
table#stats_total td{
    width: 100px;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 15px;
}
table#stats_total td.value{
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}
table#stats_total td.top{
    border: none;
}


table#stats td#stats_filter{
    text-align: center;
    padding: 5px 0 0 0px;
    font-weight: bold;
    color: #070;
}
table#stats td#stats_filter select, table#stats td#stats_filter option{
    border: 1px solid #eee;
    color: #070;
}
table#stats td#stats_filter select{
    margin: 10px 0;
}


table#filter_data{
    border-collapse: collapse;
    margin: 10px auto 0 auto;
}
table#filter_data td{
    border: 1px solid #ccc;
    padding: 5px 15px;
    font-weight: bold;
    color: #333;
}
table#filter_data span{
    font-weight: normal;
}
table#filter_data td#qso_calls{
    border: none;
    padding: 0 15px;
}
table#filter_data td#qso_calls select{
    margin: 0;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #eee;
}
table#filter_data td#qso_calls{
    border: none;
    padding: 0 10px;
}
table#filter_data tr.odd td{
    background-color: #f9f9f9;
}
table#filter_data .data{
    color: #070;
}













/*              G A L L E R Y           */

#gallery{
    margin: 30px 0;
    position: relative;
}
#add_image{
    position: absolute;
    left: 40px;
    top: 0px;
    cursor: pointer;
}


.media{
    display: inline-block;
    width: 202px;
    height: 260px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    padding: 0 0 20px 0;
    font-size: 12px;
    line-height: 12px;
}

.media img{
    border: 1px solid #ddd;
    cursor: pointer;
}
.media .icon_video{
    position: absolute;
    top: 65px;
    left: 65px;
    cursor: pointer;
    border: none;
}

.media .delete{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    display: none;
}
.media:hover .delete, .media:hover .date{
    display: block;
}

.media .date{
    padding: 2px 5px;
    font-size: 10px;
    text-align: right;
    color: #333;
    background: url('/static/images/background_white_80.png') top left;
    position: absolute;
    top: 186px;
    right: 0px;
    display: none;
    width: 200px;
    text-align: center;
}

.media .caption{
    width: 200px;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
}

.media_upload_form{
    border:1px solid #e0e0e0;
    background-color: #f0f0f0;
    text-align: center;
}
.media_upload_form label{
    display: inline-block;
    border:1px solid #999;
    background-color: #BBB;
    cursor: pointer;
    padding: 3px 15px;
    margin-top: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
}

.media input#select_file, .media input#upload_file {
    width: 180px;
    border:1px solid #aaa;
    margin: 10px 0;
    cursor: pointer;
}
.media textarea{
    width: 170px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0px auto 10px auto;
    text-align: center;
     font-size: 14px;
}
#selected_filename{
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}
.media input#upload_file {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
}
































