body, html{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    background: #fff url("/static/images/background.jpg") top left;
    text-align: center;
    position: relative;
}
input, button, textarea, select{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
}
.btn{
    padding: 5px 15px;
    background-color: #6B8AAE;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn2{
    background-color: #aa001e;
    border: 1px solid #630717;
}
.btn3{
    background-color: #ddd;
    color: #333;
    border: 1px solid #ccc;
}

 .ng-hide{
    display: none;
 }
.clearboth{ clear: both; }
input:focus{   outline: none; }


img#logo_index{
    margin-top: 10px;
}
img#logo{
    position: absolute;
    top: 0px;
    left: 15px;
}





/* =============================   H E A D   T A B S   T A B L E   ==================================== */

table.tabs{
    width: 1202px;
    margin: 15px auto 0px auto;
    background: url("/static/images/tabs_line.png") bottom left repeat-x;
    border-collapse: collapse;
}
table.index_tabs{
    width: 1002px;
    margin: 0px auto 0px auto;
}


table.tabs td{
    vertical-align: bottom;
    text-align: left;
    padding: 0;
}

table.tabs td#station_title{
    color: #777;
    padding: 5px 0 0 0;
    text-align: center;
    height: 70px;
    vertical-align: top;
}
table.tabs td#station_title h1{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 50px;
    font-weight: bold;
    text-shadow: rgba(255,255,255,0.5) 1px 2px 3px;
}


table.tabs td#status{
    width: 200px;
    text-align: center;
}
#status_block_top{
    color: #fff;
    padding:  5px 5px;
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
}
.status_offline{
    background-color: #ff4949;
}
.status_online{
    background-color: #4ab54a;
}


table#status_block_info{
    width: 100%;
    padding: 0px;
    margin: 0;
    border-collapse: collapse;
    background: #e3f9e3  url("/static/images/tabs_background_status.png") bottom left no-repeat;
    border: 1px solid #ccc;
    border-top: none;
}
table#status_block_info td{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
table#status_block_info td#current_op{
    width: 60px;
    padding: 5px 0;
}
table#status_block_info td#current_op img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #4ab54a;
    padding: 1px;
}
#status_block_info span{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
    color: #777;
}


table.tabs td#logo{
    text-align: center;
    padding: 10px 0 20px 0;
}

table.tabs td#login{
    text-align: right;
}











/* =============================   T A B  ==================================== */
.tab{
    display: inline-block;   
    padding: 7px 20px 7px 20px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    background: #f5f5f5  url("/static/images/tabs_background.jpg") bottom left no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
#tab_donate{
    font-weight: bold;
    color: #900;
}
.updated_tab{
    background: #f5f5f5  url("/static/images/tabs_background.jpg") bottom right no-repeat;
    padding-right: 35px;
}
.router-link-active{
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.tab a{
    color: #333;
    text-decoration: none;
}












/* =============================   L I S T   ==================================== */

.list{
    width: 1200px;
    padding: 10px 0 200px 0;
    margin: 0px auto;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center; 
}
.list a {
    color: #333;
    text-decoration: none;
}
.list a.blue{
    color: #009;
}
.index_list{
    width: 1000px;
    padding-top: 30px; 
    padding-bottom: 0px; 
    line-height: 2em;
}
.index_list a{
    text-decoration: none;
}
.index_list a:hover{
    text-decoration: underline;
    color: #009;
}
.index_list span.callsign{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: underline;
}
.index_list span.title{
    padding: 0 30px 0 30px;
}
.index_list span.period{
    font-size: 12px;
    color: #777;
}


#about{
    padding: 20px 50px 100px 50px;
}
#about h4{
    width: 100%;
    background-color: #ccc;
}
#about_imgs img{
    margin: 0 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}


.list img{
max-width: 900px; 
}




/* ===========================   S T A T I O N S  ==================================*/
.stations_list{
    width: 950px;
    margin: 0px auto 70px auto;
    padding: 0;
    text-align: left;  
    border-top: 1px solid #eee;
}
.stations_block{
    width: 100px;
    height: 18px;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    background-color: #eee;
    color: #777;
    line-height: 18px;
}





































/*              I N F O            */
#info{
    width: 900px;
    margin: 10px auto;
    text-align: left;
}
.info_block{ 
    margin: 0 0 20px 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ddd;
}
.info_date{ 
    font-weight: bold;
    font-size: 12px;
    background-color: #ddd;
    color: #000;
    padding: 3px;
    line-height: 1em;
    width: 130px;
}
.info_block p{ 
    padding: 10px 20px;
    margin: 0;
    text-indent: 1em;
}












/*              O N L I N E   L O G             */



#log #no_net{
    width: 900px;
    margin: 20px auto 0 auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #ff4949;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
}
#log #no_net span{
    color: #fafbb8;
}



#call_search{
    margin: 20px 0;
    text-align: center;
}
#call_search input{
    font-weight: bold;
    text-align: center;
}

table#search_results{
    margin: 0 auto 50px auto;
}
table#search_results td#icon_close{
    text-align: right;
    padding: 0;
}
table#search_results td#icon_close img{
    cursor: pointer;
}




table#log { 
    border-collapse: collapse; 
    margin: 10px auto;
}
table#log td{ 
    padding: 7px 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 1em;
    color: #333;
}
table#log td.time span{ 
    font-size: 12px;
    line-height: 12px;
}
table#log td.mycall{ 
    font-weight: bold;
    width: 80px;
    font-size: 16px;
    color: #555;
}
table#log td.urcall{ 
    background-color: #f9ffec;
    font-weight: bold;
    width: 100px;
    font-size: 16px;
}
table#log td.head{ 
    background-color: #aaa;
    color: #fff;
}
table#log tr.new_qso{ 
    background-color: #e3f9e3;
}

#refresh_time{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    width: 100px;
    float: right;
    color: #999;
}












#sponsor{ 
    width: 85%;
    margin: 10px auto 0px auto;
    background-color: #fdfbda;  
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 18px; 
    line-height: 1.5em;
    color: #000;
    text-align: left;
}

#donate iframe{
    margin: 30px 0;
    width: 436px;
}

#ppal{
    width: 350px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 13px 13px 5px 13px;
}
#ppal form{
    display: inline-block;
    width: 100px;
}












#cluster{
    font-size: 12px;
}
table#cluster { 
    border-collapse: collapse; 
    width: 800px;
    margin: 20px auto 5px auto;    
}
table#cluster td{ 
    padding: 7px 10px;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
    line-height: 1em;
}
table#cluster td.time{ 
    width: 50px;
}
table#cluster td.band{ 
    width: 60px;
}
table#cluster td.mode{ 
    width: 30px;
    font-size: 12px;
    text-align: center;
}
table#cluster td.call, table#cluster td.call a{ 
    width: 80px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}
table#cluster tr.highlight td.call, table#cluster tr.highlight td.call a{ 
    color: #900;
}
table#cluster tr.highlight{ 
    background-color: #ffffee;
}
table#cluster td.text{ 
    color: #777;
    font-size: 12px;
}
table#cluster td.spotter{ 
    width: 100px;
    color: #777;
    font-size: 12px;
    padding: 5px;
}







#gps_map{ 
    font-size: 14px;
}
#map{ 
    width: 1100px;
    height: 700px;
    padding: 0px;
    margin: 5px auto;
}
.ymap-container{
    padding-top: 50px;
}

#gps_map iframe{
    margin: 3px 0 50px 0;
}












table#message_form{
    width: 1010px;
    padding: 0px;
    margin: 20px 0 0 10px;
    border: none;
    border-collapse: collapse;
    text-align: center;
}
table#message_form tr, table#message_form td{
    padding: 0;
}
table#message_form td.note{
    font-size: 12px;
    vertical-align: top;
    color: #999;
    line-height: 12px;
}
table#message_form input#your_call, table#message_form input#your_name{
    width: 130px;
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
    margin: 0 10px;
    border: 1px solid #999;
}
table#message_form input#your_call{
    color: #009;
}
table#message_form input#your_name{
    font-size: 16px;
    font-weight: normal;
}
table#message_form input#message_text{
    width: 600px;
    text-align: left;
    border: 1px solid #999;
    font-size: 16px;
    padding: 3px;
}
table#message_form button{
    width: 50px;
    padding: 3px;
}



table#chat_layout td{
    vertical-align: top;
}



#chat_info{
    width: 130px;
    margin: 20px 0 0 0;
    border: 1px solid #eee;
    text-align: left;
}
.chat_info_title{
    background-color: #eee;
    text-align: center;
    color: #777;
}
.chat_info_users1{
    padding: 10px 0 10px 20px;
    font-weight: bold;
    line-height: 1.5em;
    color: #777;
    font-size: 16px;
}

.chat_info_users2{
    padding: 10px 0 10px 20px;
    font-weight: bold;
    line-height: 1.5em;
    color: #999;
    font-size: 16px;
}
.chat_info_users1 span.admin, .chat_info_users2 span.admin{
    color: #b24c4c;
}
.chat_info_users1 span, .chat_info_users2 span{
    display: block;
}
.delete_btn{
    cursor: pointer;
}



table#chat_window{
    width: 1000px;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-collapse: collapse;
}
table#chat_window td{
    padding: 5px 5px;
    text-align: left;
    vertical-align: top;
}
table#chat_window tr{
    border: 1px solid #eee;
}
table#chat_window td.call{
    font-weight: bold;
    width: 150px;
    line-height: 14px;
    color: #009;
}
table#chat_window td.call span.date_time{
    font-size: 10px;
    font-weight: normal;
    color: #ccc;
}
table#chat_window td.call span.call{
    color: #00A;
    cursor: pointer;
}
table#chat_window td.call span.name{
    font-size: 14px;
    color: #333;
    font-weight: normal;
    cursor: pointer;
}
table#chat_window tr.admin td.call span.call{
    color: #A00;
}
table#chat_window td.message{
    line-height: 1.5em;
    padding-top: 5px;
}









/* ===========================   L O G I N   /    R E G I S T E R  ==================================*/
#login_register{
    padding: 0px 20px 100px 20px;
    line-height: 1.2em;
}
#login_register span{
    font-size: 12px;
    color: #999;
}
#login_register input{
    margin: 0 0 20px 0;
}
#button_login, #button_register, #button_recovery{
    width: 200px;
}
#button_register{
    float: left;
}
#button_recovery{
    float: right;
}
.register{
    background-color: #ea9901;
    border-color: #c97b04;
}

#register_text{
    padding: 0 0 30px 0;
    color: #aa001e;
}








/* ===========================   S E T U P  ==================================*/

#station_menu{
    text-align: right;
    padding: 0 20px 20px 20px;
}
#station_menu a{
    text-decoration: underline;
    color: #009;
    padding-right: 10px;
}
#button_clear_all{
    float: left;
}
.icon_info{
    cursor: pointer;
    float: right;
}

#station_setup{
    text-align: left;
    padding: 10px 30px;
}
#station_setup textarea{
    width: 870px;
    height: 300px;
}
.station_setup_block{
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
.block_settings{
    padding-left: 20px;
}
input#station_callsign { font-weight: bold; }
input#station_name { width: 780px; }
input#setup_cluster { width: 870px; }
input#highlight_calls { width: 870px; }
input#admin_calls { width: 870px; }

#stations_link{
    font-size: 14px;
    padding-left: 30px;
}
#stations_link a{
    color: #009;
    text-decoration: underline;
    font-weight: bold;
}

.quillWrapper{
    background-color: #fff;
}
#editor_info, #editor_news, #editor_donate{
    height: 300px;
}


input#button_save_all{
    position: fixed;
    top: 75px;
    right: 15px;
    background-color: #008000;
    color: #fff;
}

table#log_setup{
    width: 80%;
    margin: 0 auto;
}
table#log_setup td{
    padding: 0;
}

table#status_setup{
    width: 50%;
    margin: 0 auto;
}
table#status_setup td{
    text-align: center;
    padding: 0;
    line-height: 1em;
}

table#status_setup td.col1{
    text-align: left;
}





table#info_popup{
    position: fixed;
    z-index: 100px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/static/images/background_black_50.png') top left;
    top: 0;
    left: 0;
}
table#info_popup td{
    text-align: center;
    vertical-align: middle;
}
table#info_popup_close{
    position: fixed;
    z-index: 101px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#info_popup_text{
    width: 70%;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3); /* Параметры тени */
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
}






/* ===========================   C O N T A C T  ==================================*/
#contact input#email{
    width: 80%;}

#contact textarea{
    width: 80%;
    height: 100px;
}
#contact input#button_submit{
    width: 50%;
    margin: 0 0 50px 0; 
}


.ql-align-center{
    text-align: center;
}


